body{
    background-image: url(download.jfif);
    background-size: cover;

}
.kal{
    width: 250px;
    height: 250px;
    border: 2px solid black;
    margin: 180px auto;
    padding: 60px;
    border-radius: 10px;
}
h1{
    text-align: center;
}
button{
    padding: 20px;
    width: 100%;
}